video {
    width: 100%;
    height: auto;
}

.youtube-player {
	width: 100%;
}

.navbar[role="navigation"] {
	margin-top: 4px;
}

.post .postprofile {
    float: none;
    position: static;
}

.post .postprofile .post-buttons {
    position: absolute;
    top: -5px;
	right: 10px;
}

.post .postprofile .profile-rank {
	max-width: 155px;
	line-height: 10px;
}

.post .postbody .content {
    padding-left: 0;
}
