video {
    width: 100%;
    height: auto;
}

.post .postprofile {
    float: none;
    position: static;
}

.post .postprofile .post-buttons {
    position: absolute;
    margin-top: 0;
}

.post .postbody .content {
    padding-left: 0;
}

.headerbar {
    background-size: 100%;
    background-position: 0 50%;
    height: 60px;
}
