/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:		nc
	Based on style:		prosilver
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Devin Lumley ( https://www.devinwl.github.io )
    --------------------------------------------------------------
*/

html {
    background: #fff;
    height: 100%;
}

body {
    background: #fff;
    padding-top: 0;
}

.headerbar {
    background-color: transparent;
    background-image: url('./images/bg_header.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 100px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#page-header .navbar[role="navigation"] {
    background-image: url('./images/bg_navbar.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
}

#page-header .navbar[role="navigation"] a {
    color: #fff;
}

#page-header .navbar[role="navigation"] .dropdown a {
    color: #105289;
}

#wrap {
    border: none;
    max-width: 100%;
    padding-top: 0;
}

#site-description {
    display: none;
}

.forabg,
.forumbg {
    background: #2980b9;
}

.postprofile {
    float: left;
    border: none;
    width: 150px;
}

.postprofile dt,
.postprofile dd {
    margin-left: 0;
}

.postprofile .profile-contact {
    margin-top: 10px;
}

.has-profile .post-buttons {
    position: static;
    margin-top: 10px;
}

.postbody {
    width: 100%;
    float: none;
    position: static;
}

.pm .postbody {
    width: auto;
    float: left;
}

.postbody .content {
    clear: none;
}

#preview .postbody .content {
    clear: both;
}

.postbody .notice {
    clear: none;
    overflow-x: auto;
}

.online {
    background-image: none!important;
}

li.row,
li.row:hover {
    background-color: #ECF3F7;
}

.spoiler {
    background: #000;
    color: #000;
}

.postprofile .custom-color a {
    color: inherit;
}

.search-header {
    margin-top: 40px;
}
